.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.55);
}

.slides-navigation .prev,
.slides-navigation .next {

    width: 47px;
    height: 47px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 6;
}

.slides-navigation a.prev {
    left: 20px;
    background-image: url(../img/icons/prev.png);
}

.slides-navigation a.next {
    right: 20px;
    background-image: url(../img/icons/next.png);
}

.titleMessage {
    position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    z-index: 5;
    margin-top: -125px;
    text-align: center;
}

.titleMessage .heading .main {
    font-size: 50px;
    text-shadow: rgba(0, 0, 0, 0.8);
    letter-spacing: 7px;
    font-weight: 700;
    color: #399AE6;
    font-family: Arial, Helvetica, sans-serif;
}

.titleMessage .heading .arrow {
    font-size: 40px;
    font-weight: 700;
    color: #399AE6;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
}

.titleMessage .heading .sub {
    font-size: 30px;
    color: #FFF;
    text-shadow: rgba(0, 0, 0, 0.6);
    font-weight: 450;
    letter-spacing: 3px;
}

.typed-cursor {
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    color: #FFF;
}

.start {
    display: inline;
}

.learnButton {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #FFF;
    top: 90%;
    z-index: 5;
    text-align: center;
    border: 1px solid #FFF;
    padding: 15px 20px;
    border-radius: 2px;
    margin-top: -90px;
    display: inline-block;
    background-color: #399AE6;
    border-color: #399AE6;


}

.learnButton:hover {
    text-decoration: none;
    color: #FFF;
    background-color: #399AE6;
    border-color: #399AE6;
}

.logo {
    width: 32px;
    height: auto;
    padding-left: 5px;
}

.section {
    padding: 85px 30px;
}

.aboutImage {
    max-width: 90%;
    margin-left: 30px;
    margin-top: 50px;
    top: 50%;
    left: 50%;
    display: inline-block;
}

.aboutTitle {
    color: #399AE6;
    font-size: 31px;
    margin-top: 0px;
}

#about p {
    text-align: justify;
}

.skillSection {
    background-color: #399AE6;
    padding: 80px;
}

.col-md-12 {
    color: #FFF;
}

.skill {
    text-align: center;
    margin-left: 10px;
}


.skillSection .skillTitle{
    color: #FFF;
}

.skill h4 {
    color: #FFF;
}

.chart {
    position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
}

.chart canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.chart .percent {
    color: #000;
    line-height: 152px;
    display: inline-block;
    font-size: 35px;
}

.chart .percent:after {
    content: "%";
}

.jobs{
    padding: 80px;
}

.jobs .xpTitle,
.jobs .xpSub{
    text-align: center;
    width: 100%;
}

.statsSection {
    padding: 80px;
}

.contactSection {
    padding: 20px 80px;
}

.contactSection .a .i{
    position: absolute;
    font-size: 48px;
    width: 100%;
    height: auto;
}

.contactSection p {
    color: #000;
    font-size: large;
    font-weight: bold;
}

.contactButton {

    color: #1c8ce0;
    padding: 10px;
    display: inline-block;
    margin-top: 20px;
}

.contactButton:hover {
    text-decoration: none;
    color: #FFF;
    background-color: #87c1ec;
}

.linkButton {
    font-size: 48px;
    color: #1c8ce0;
    padding: 10px;
    display: inline-block;
    margin-top: 20px;
}

.button{
    color: white;
    border: 0;
    background-color: inherit;
    padding: 5px 5px;
    cursor: pointer;
    display: inline-block;
}

.button:hover{
    color: white;
    background-color: #7e8d99;
}

.sortBtn{
    padding: 5px 5px;
    border: 2px white;
    background-color: inherit;
    padding: 5px 5px;
    cursor: pointer;
    display: inline-block;
}

.sortBtn:hover{
    color: white;
    background-color: #7e8d99;
}

.sort .fa{
    color: white;
    font-size: 20px;
}

.filter{
    width: 100%;
}

.filter li {
    display: inline-block;
    padding: 5px;
    text-align: center;
    border: 5px white;
}

#filters{
    margin-bottom: 0px;
}

.filter .current {
    background-color: #FFF;
    border-color: #FFF;
    color: #399AE6;
}

.filter {
    text-align: center;
    width: 100%;
}

.itemsContainer{
    display: inline-block;
    text-align: center;
}

.portfolioSection .portTitle{
    color: #FFF;
}
.portfolioSection {
    background-color: #399AE6;
    padding: 80px;
}

.portfolioSection .heading {
    color: #FFF;
    text-align: center;
    padding-bottom: 20px;
    width: 100%;
}

.portfolio .filter .li{
    border: 2px;
    border-color: #FFF;
}

.items li {
    display: inline-block;
    padding: 5px;
}

.itemsContainer {
    width: 100%;
}

.items li img {
    width: 100%;
    border-radius: 3%;
    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}

.items .item {
    position: relative;
    display: block;
    overflow: hidden;
}

.items .icons {
    position: absolute;
    width: 90px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin: -20px auto 0 -47px;
    text-align: center;
    z-index: 3;
}

.items .icons i {
    color: #FFF;
    font-size: 20px;
    margin-top: 9px;
}

.items a {
    width: 40px;
    height: 40px;
    background-color: #399AE6;
    position: relative;
    display: inline-block;

    -webkit-transition: all 0.2s linear, 0.2s;
    -moz-transition: all 0.2s linear, 0.2s;
    -o-transition: all 0.2s linear, 0.2s;
    -ms-transition: all 0.2s linear, 0.2s;
    -transition: all 0.2s linear, 0.2s;
}

.items .itemOverlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;

    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}

.items .item:hover .itemOverlay {
    opacity: 1;
}

.items .openButton {
    float: left;
    left: -200px;
}

.items .noLink {
    float: left;
    left: -300px;
}

.items .item:hover .noLink {
    left: 30px;
}

.items .projectLink {
    float: right;
    right: -200px;
}

.items .item:hover .openButton {
    left: 0px;
}

.items .item:hover .projectLink {
    right: 0px;
}

.items .item:hover img {
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -transform: scale(1.05, 1.05);

}

.items {
    padding: 0;
}


#navigation {
    background-color: #399AE6;
    color: #FFF;
    padding: 20px 10px;
    z-index: 100;
    width: 100%;
}

#navigation li {
    padding: 0 10px;
}

#navigation li a {
    color: #FFF;
}

.navbar-brand,
.navbar-brand:hover {
    color: #FFF;
    font-weight: bold;
}

.navbar-toggler-icon {
    background: url(../img/icons/menu.png);
    background-size: 100%;
}

.fixedNav #navigation {
    position: fixed;
    top: 0;
}

.loader {
    width: 100%;
    height: 100%;
    background-color: #FFF;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

.loader .inner {
    width: 100%;
    height: 100%;
    background: url(../img/loader.gif) center center no-repeat;
}