.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.55);
}

.slides-navigation .prev,
.slides-navigation .next {

    width: 47px;
    height: 47px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 6;
}

.slides-navigation a.prev{
    left: 20px;
    background-image: url(../img/icons/prev.png);
}

.slides-navigation a.next {
    right: 20px;
    background-image: url(../img/icons/next.png);
}

.titleMessage{
    position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    z-index: 5;
    text-align: center;
    margin-top: -125px;
}

.titleMessage .heading p{
    color: #399AE6;
    text-shadow: 0px 2px 5px rgba(0,0,0,0.4);
    font-weight: 100;
}

.titleMessage .heading .main{
    font-size: 50px;
    text-shadow: rgba(0, 0, 0, 0.6);
    letter-spacing: 7px;
    font-weight: 700;
}

.titleMessage .heading .subtitle{
    font-size: large;
    color: #FFF;
    text-shadow: rgba(0, 0, 0, 0.6);
    font-weight: 450;
    letter-spacing: 3px;
}

.titleMessage .heading .sub{
    font-size: large;
    color: #FFF;
    text-shadow: rgba(0, 0, 0, 0.6);
    font-weight: 450;
    letter-spacing: 3px;
}

.typed-cursor{
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    color: #FFF;
}

.start{
    display: inline;
}

.learnButton {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #FFF;
    top: 90%;
    z-index: 5;
    text-align: center;
    border: 1px solid #FFF;
    padding: 15px 20px;
    border-radius: 2px;
    margin-top: -90px;
    display: inline-block;
    background-color: #399AE6;
    border-color: #399AE6;
   
    
}
.learnButton:hover{
    text-decoration: none;
    color: #FFF;
    background-color: #399AE6;
    border-color: #399AE6;
}

.logo{
    width: 40px;
    height: auto;
}

.section {
    padding: 85px 30px;
}

.aboutImage {
    max-width: 90%;
    margin-left: 30px;
    top: 50%;
    left: 50%;
    display: inline-flex;
}

.aboutTitle{
    color: #399AE6;
    margin-top: 0px;
}

#about p{
    text-align: justify;
}

.skillSection{
    background-color: #399AE6;
    padding: 80px;
}

.col-md-12{
    color: #FFF;
}

.skill{
    text-align: center;
    margin-left: 10px;
}

.skill h4{
    color: #FFF;
}

.chart{
    position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
}

.chart canvas{
    position: absolute;
    left: 0;
    top: 0;
}

.chart .percent{
    color: #000;
    line-height: 152px;
    display: inline-block;
    font-size: 35px;
}

.chart .percent:after{
    content: "%";
}

.statsSection{
    padding: 80px;
}

.squareItem{
    margin-top: 50px;
    margin-bottom: 30px;
    position: relative;
}

.squareInnerContainer{
    position: relative;
    padding: 20px 10px 20px 10px;
    text-align: center;
    border: 2px dotted #444;
    border-top: none;
}

.squareInnerContainer:before,
.squareInnerContainer:after{
    content: "";
    position: absolute;
    top: 0px;
    width: 30%;
    border-bottom: 2px dotted #444;
}

.squareInnerContainer:before{
    right: 2px;
}

.squareInnerContainer:after{
    left: 2px;
}

.squareContent h2{
    font-size: 115%;
    margin-top: 10px;
    font-weight: 400;
    color: #399AE6;
}

.squareContent p{
    font-size: 14px;
    margin: 0px;
    font-weight: 400;
}

.statsSection h2{
    width: 100%;
    text-align: center;
}

.statsSection p{
    width: 100%;
    text-align: center;
}

.squareIcon{
    position: absolute;
    left: 50%;
    top: -37px;
    width: 40%;
    height: 60px;
    font-size: 50px;
    margin-left: -20%;
    color: #399AE6;
}

.contactSection{
    padding: 80px;
}

.contactSection p{
    color: #000;
    font-size: large;
    font-weight: bold;
}
.contactButton{
    color: #399AE6;
    padding: 15px 20px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid #399AE6;
    border-radius: 2px;
}
.contactButton:hover{
    text-decoration: none;
    color: #FFF;
    background-color: #399AE6;
}

.resumeButton{
    color: #399AE6;
    padding: 15px 20px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid #399AE6;
    border-radius: 2px;
}
.resumeButton:hover{
    text-decoration: none;
    color: #FFF;
    background-color: #399AE6;
}

.filter a{
    color: #FFF;
    border: 1px solid #FFF;
    padding: 10px 18px;
    display: block;
    text-decoration: none;
}

.filter li{
    display: inline-block;
    padding: 5px;
}

.filter .current{
    background-color: #FFF;
    border-color: #FFF;
    color: #399AE6;
}
.filter{
    text-align: center;
    width: 100%;
}

.portfolioSection{
    background-color: #399AE6;
    padding: 80px;
}
.portfolioSection .heading{
    color: #FFF;
    text-align: center;
    padding-bottom: 20px;
    width: 100%;
}

.items li{
    display: inline-block;
    padding: 5px;
}

.itemsContainer{
    width:100%;
}

.items li img{
    width: 100%;
    border-radius: 3%;
    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}

.items .item{
    position: relative;
    display: block;
    overflow: hidden;
}

.items .icons{
    position:absolute;
    width: 90px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin: -20px auto 0 -47px;
    text-align: center;
    z-index: 3;
}

.items .icons i{
    color: #FFF;
    font-size: 20px;
    margin-top: 9px;
}

.items a{
    width: 40px;
    height: 40px;
    background-color: #399AE6;
    position: relative;
    display: inline-block;

    -webkit-transition: all 0.2s linear, 0.2s;
    -moz-transition: all 0.2s linear, 0.2s;
    -o-transition: all 0.2s linear, 0.2s;
    -ms-transition: all 0.2s linear, 0.2s;
    -transition: all 0.2s linear, 0.2s;
}

.items .itemOverlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;

    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}

.items .item:hover .itemOverlay{
    opacity: 1;
}

.items .openButton{
    float: left;
    left: -200px;
}

.items .noLink{
    float: left;
    left: -300px;
}
.items .item:hover .noLink{
    left: 30px;
}

.items .projectLink{
    float: right;
    right: -200px;
}

.items .item:hover .openButton{
    left: 0px;
}

.items .item:hover .projectLink{
    right: 0px;
}

.items .item:hover img{
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -transform: scale(1.05, 1.05);

}

.items{
    padding: 0;
}


#navigation{
    background-color:#399AE6;
    color: #FFF;
    padding: 20px 10px;
    z-index: 100;
    width: 100%;
}

#navigation li{
    padding: 0 10px;
}

#navigation li a{
    color: #FFF;
}

.navbar-brand,
.navbar-brand:hover{
    color: #FFF;
    font-weight: bold;
}

.navbar-toggler-icon{
    background: url(../img/icons/menu.png);
    background-size: 100%;
}

.fixedNav #navigation{
    position: fixed;
    top: 0;
}